:root {
  --primaryColor: #4bcf99;
  --primaryColorHover: #31b680;
}

.image {
  background-color: #efefef;
  padding-bottom: 100%;
  border: #efefef 1px solid;
  width: 100%;
  height: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  & .dropfilezone {
    text-align: center;
    padding-top: 40%;
    color:#888;
  }
}
.item-list {
  & li.tbody {
    margin:0;
    padding:0;
    border:0;
  & ul.tbody-wrapper {
      margin:0;
      padding:0;
      border:0;
    }
  }
}
