:root {
  --primaryColor: #4bcf99;
  --primaryColorHover: #31b680;
}

.item-list {
  & li.tbody {
    margin:0;
    padding:0;
    border:0;
  & ul.tbody-wrapper {
      margin:0;
      padding:0;
      border:0;
    }
  }
}
