.spinner {
  div {
    display:inline-block;
  }
}

.metismenu {
  .collapse {
    max-height: 0px;
    height:0;
    transition: max-height .35s ease;
    display:block;
    &.in {
      max-height:150px;
    }
  }
}
